{% extends 'base.html' %}
{% block title %}SEO{% endblock %}
{% block content %}
<h1>Що таке SEO?</h1>
<p>SEO (Search Engine Optimization) — це оптимізація сайту для пошукових систем.
Вона допомагає вашому сайту з’являтися у видачі Google чи інших пошуковиків за потрібними запитами.</p>

<ul>
    <li>SEO — це просування сайту у пошукових системах.</li>
    <li>Мета SEO — отримати більше клієнтів та продажів через органічний трафік.</li>
    <li>Оптимізація включає технічні налаштування, контент та зовнішні фактори.</li>
</ul>
{% endblock %}