{% extends 'base.html' %}
{% block title %}Про компанію{% endblock %}
{% block content %}
<h1>Про Компанію</h1>
<p>ВВВ - це невелика команда людей, які знайшли себе в Digital маркетингу. Кожен з працівників дбає про те,
    щоб допомогти нашим клієнтам отримати стабільні результати.</p>
<p>Ми досягаємо цього завдяки правильному процесу планування та виконання.
Чітко налагоджена робота, прописані процеси до найменшої дрібниці, злагоджена команда,
    що розуміє все з пів-слова – ось що відрізняє нас з-поміж конкурентів!</p>
{% endblock %}