{% extends 'base.html' %}
{% block title %}SEO{% endblock %}
{% block content %}
<h1>Що таке SEO?</h1>
<p>Що таке SEO і чому це важливо: пояснюємо простою мовою
Якщо ви хоча б раз задумувалися над тим, щоб перетворити Інтернет в джерело отримання клієнтів для свого бізнесу і
    повноцінний канал продажів, напевно ви вже чули, що сайт потрібно якось
    там «просувати», «розкручувати» і всілякими способами оптимізувати.</p>
<ul>
    <li>Як би не називали цю діяльність різні люди, у всіх випадках мова йде про одне і те ж – SEO.

Проблема в тому, що для того, щоб розпочати що-небудь робити, необхідно розуміти про що ж, власне, йде мова. Тому ми вирішили пояснити вам що таке SEO і що ховається під цією абревіатурою максимально просто, швидко і зрозуміло. Замість суцільного ряду тексту в декілька екранів – основні моменти, коротко і по суті.

Отож, розпочнемо.</li>
    <li>Що таке SEO і як це працює? Теорія і практика</li>
    <li>Термін  SEO є абревіатурою від англійського терміну «Search Engine Optimization», що переводиться як «оптимізація під пошукові системи». Таким чином, пошукова оптимізація є діяльністю, яка направлена на те, щоб сторінки певного сайту показувалися у видачі пошукових систем у відповідь на певні запити користувачів. Мова йде саме про ті запити, які відповідають змісту сторінок цього сайту.
Наприклад, перейдемо на сайт Google.com.ua і напишемо в пошуковому рядку слова «купить дизельный мотоблок» і натиснемо «Enter». У відповідь ми отримаємо наступні результати (натисніть для збільшення).</li>
</ul>
{% endblock %}